<p-growl [(value)]="msgs"></p-growl>

<div class="ui-g">
  <div class="ui-g-4">
    <input type="text" size="25" pInputText (keyup)="searchTerm$.next($event.target.value)" placeholder="Search artist">
  </div>
</div>

<!-- <div class="ui-g" *ngIf="artists?.length > 0"> -->
<div class="ui-g">
  <div class="ui-g-4">
    <p-table [value]="artists" [paginator]="true" [rows]="15" [alwaysShowPaginator]="false"
      [resizableColumns]="true" selectionMode="single" [(selection)]="selectedArtist" (onRowSelect)="rowSelect($event)">
      <ng-template pTemplate="caption">
        Artists
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:10%" pResizableColumn>#</th>
          <th pResizableColumn>
          <!-- <th [pSortableColumn]="artistName" pResizableColumn> -->
            Name
            <!-- <p-sortIcon [field]="artistName"></p-sortIcon> -->
          </th>
          <th [pSortableColumn]="primaryGenreName" pResizableColumn>
            Genre
            <!-- <p-sortIcon [field]="primaryGenreName"></p-sortIcon> -->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-artist let-rowData let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td>{{rowIndex + 1}}</td>
          <td>{{artist.artistName}}</td>
          <td>{{artist.primaryGenreName}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="3" [ngStyle]="{'text-align':'center'}">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="ui-g-2">
    <!-- Column divider -->
  </div>

  <div class="ui-g-6">
    <app-album [artistId]="artistId" *ngIf="artistId > 0"></app-album>
  </div>

</div>