i { 
    cursor: pointer;
    margin-left: 1em; 
    margin-right: 5px
}
i:hover { 
    transform: scale(1.25); 
    color: blue; 
}

img { vertical-align: middle; }

p-column[field="releaseDate"]{
  text-align: center;
  vertical-align: middle; 
  width: 30%
}